
h1 {
  text-align: center;
  color:white;
  font-family:'Abel';
  font-size: 56px
}
a{
  text-decoration: none;
}

h2:hover{
  color: #ff7700;
}

h2 {
  text-align: center;
  color:white;
  font-family:'Abel';
  font-size: 26px;
}

#dank{
  text-align: center;

}

.gradient {
  background: linear-gradient(270deg, #27363b, #eb4960);
  background-size: 400% 400%;
  animation: gradientanimation 31s ease infinite;
  }
  @keyframes gradientanimation {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
