h1 {
  margin-top: 400px;
  text-align: center;
  color:white;
  font-family:'Libre Barcode 128', cursive;
  font-size: 56px
}


body{
  background: linear-gradient(270deg, #27363b, #eb4960);
  background-size: 400% 400%;
  animation: gradientanimation 31s ease infinite;
  }
  @keyframes gradientanimation {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
